/* styles/styles.css */
.swiper-pagination {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  display: none;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffb62b; /* Active color */
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  background-color: #ffb62b; /* Hover color */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 3px;
  }
}

@media screen and (max-width: 480px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 2px;
  }
}
